<head>
  <title>iSeed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>



<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/seeds">
          <span style='color:#40d47e;'>iSeed</span>
        </a>
      </div>
      <form class="navbar-form navbar-right" role="search">
        <a href='/seeds/new' class="btn btn-primary">
          <i  class='fa fa-plus'></i>
            アイディアを投稿
        </a>
      </form>
    </div>
  </nav>
</body>

<template name="layout">
  {{> yield}}
</template>
