<template name="SeedIndex">
  <div class="container">
    <div class="row-fluid">
      <h1>Seeds</h1>
      <ul class="list-group">
        {{#each this}}
          <li class="list-group-item">
            <a target=”_blank” href="{{pathFor "seed"}}">{{_id}}</a>
            <button class="btn btn-danger btn-xs" data-action="delete" style="float:right">
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            </button>
            <a href="{{pathFor "edit_seed" this}}" class="btn btn-xs" style="float:right; margin-right: 20px;">
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            </a>
          </li>
        {{/each}}
      </ul>
      <a href="{{pathFor "new_seed"}}" class="btn btn-primary">
        New Seed
      </a>
    </div>
  </div>
</template>
