<template name="SeedIndex">
  <div class="container">
    <div class="row-fluid">
      <h1 class='text-center'>
        <ruby>
          種
          <rt>シード</rt>
        </ruby>
        ランキング
      </h1>

      <ol class="list-group">
        {{#each this}}
        <li class='list-group-item'>
          <h1>{{index}}位</h1>
          <a target='_blank' href="/seeds/{{_id}}">
            <h1>
              {{who}}
              <small>の</small>
              {{what}}
              <small>を</small>
              <small>解決するアイディア</small>
            </h1>
          </a>
        </li>
        {{/each}}
      </ol>

    </div>
  </div>
</template>
