<template name="SeedNew">
  {{#if currentUser}}
  <div class="container">
    <div class="row-fluid">
      <h1>New Seed</h1>
      {{#autoForm collection="Seed" type="insert" id="new-seed-form"}} {{> SeedFields}}
      <div class="checkbox">
        <label>
          <input type="checkbox" checked id='tweet_flag'> ツイートする
        </label>
      </div>
      <button type="submit" class="btn btn-primary" onclick="$('#myModal').modal()">
        <span class="glyphicon glyphicon-plus"></span>
        作成
      </button>
      {{/autoForm}} {{> reader who=who what=what keyword=keyword}}

    </div>
  </div>
  {{else}}
  <div class='list-group-item text-center'>
    <p>
      <button onclick='Meteor.loginWithTwitter()' class='btn btn-primary'>
        <i class='fa fa-twitter'></i> Twitterでログイン
      </button>
    </p>

    <i class="fa fa-arrow-down"></i>
    <h1>3つの質問に答える（1分以内）</h1>
    <i class="fa fa-arrow-down"></i>
    <h1>作成完了</h1>
  </div>
  {{/if}}
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>
            処理中
          </p>
          <i class="fa fa-refresh fa-spin fa-5x"></i>
        </div>
      </div>
    </div>
  </div>
</template>
