<template name="SeedShow">
  <div class="container">
    <div class="row-fluid">
      <div class='col-md-10'>
        <div class='list-group'>
          <div class='list-group-item'>
            <p>
              だれのためのサービス？
            </p>
            <h2>{{who}}</h2>
          </div>
          <div class='list-group-item'>
            <p>
              どんな問題を解決する？
            </p>
            <h2>{{what}}</h2>
          </div>
          <div class='list-group-item'>
            <p>
              どうやって解決する？
            </p>
            <h2>{{how}}</h2>
          </div>
          <div class='list-group-item'>
            {{#if voted}}
            <p>調査結果</p>
            <canvas id="sample" height="500" width="500"></canvas>
            <h1>
              <small>使ってみたい:</small>{{yes}}
              <small>人</small>
            </h1>
            <h1>
              <small>使いたくない:</small>{{no}}
              <small>人</small>
            </h1>
            <h1>
              <small>無回答:</small>{{none}}
              <small>人</small>
            </h1>
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script>
              ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + '://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js, fjs);
                }
              }(document, 'script', 'twitter-wjs');
            </script>
            {{else}}
            <span>このアイディア、Good!と思いますか？</span>
            <div class='text-center'>
              <button id='yes' class='btn btn-primary btn-lg'>YES</button>
              <button id='no' class='btn btn-danger btn-lg'>No</button>
            </div>
            <br />
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='text-center'>
    <p>
      <i class="fa fa-copyright"></i>
      アイディアの権利はすべて、
      <a href="https://twitter.com/intent/user?user_id={{user}}">
        {{user}}
      </a>
      氏に帰属します。
    </p>
  </div>
</template>
