<template name="index">
  <div class="container">
    <div class="jumbotron">
      <h1 style='font-size:200px;'>iSeed</h1>
      <p>
      <ruby>
      変革の種<rt>イノベーション シード</rt>
      </ruby>
      を育てよう</p>
      <span>アイディアを投稿し、需要があるかを調査できるSNS</span>
      <p><a class="btn btn-primary btn-lg" href="/seeds" role="button">START</a></p>
    </div>
    <div class='row text-center'>
      <div class='col-md-4'>
        <div class="jumbotron">
          <h2>
            <i class='fa fa-bolt fa-5x'></i>
          </h2>
          <h2>楽にはじめられる</h2>
        </div>
      </div>
      <div class='col-md-4'>
        <div class="jumbotron">
          <h2>
            <i class='fa fa-pie-chart fa-5x'></i>
          </h2>
          <h2>結果をグラフ化</h2>
        </div>
      </div>
      <div class='col-md-4'>
        <div class="jumbotron">
          <h2>
            <i class='fa fa-twitter fa-5x'></i>
          </h2>
          <h2>ツイート最適化</h2>
        </div>
      </div>
    </div>
  </div>
</template>
